.component {
  height: 100%;
  margin: 0.5em;
  padding: 0.1em;
}

.handContainer {
    min-height: 12em;
}

.hand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;

  margin: 0.5em;
  padding: 0.5em;

  background-color: lightgrey;
}

.handCategories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
}
.handCategories > button {
  flex-grow: 1;
  margin: 0.1em;
}

h3 {
  background-color: lightgray;
  color: black;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;

}

h4 {
  text-align: center;
  background-color: #353434;
  border-radius: 0.5em;
}
