<div class="component">

  <p>
    opening-hand-simulation works!
  </p>
  <div>
    <button routerLink="/">Back</button>
  </div>
  <div>
    <h2>Your Deck</h2>
    <pre>

{{cardParser.rawCardText}}
    </pre>

  </div>
  <div>
    <h2>Hand</h2>
    <div>
      <button (click)="newHand();">New hand</button>
    </div>
    <div>
      <div>
        {{hand.join(', ')}}
        <div class="handContainer">
          <div class="hand">
            <app-card-display *ngFor="let name of hand" [cardname]="name"></app-card-display>
          </div>
        </div>


      </div>
      <div class="handCategories">
        <button *ngFor="let option of handCategories" (click)="recordHand(hand, option.name)">{{option.name}}</button>

      </div>
    </div>
    <div>
      <h3>Summary</h3>
      <h4>Global</h4>
      <p *ngFor="let pair of scoreboardByCategoryArray">
        {{pair[0]}}: {{pair[1]}}
      </p>
      <h4>By card</h4>
      <div class="byCard">
        <div *ngFor="let item of scoreboardByCardArray" class="singleCardSummary">
          <span class="cardName">

            {{item[0]}}
          </span>
          <span class="messageScores">

            <span *ngFor="let i of item[1]" class="messageScore">
              {{i}}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div>
      <h3 (click)="showHistory=!showHistory">History</h3>
      <div *ngIf="showHistory">

        <p *ngFor="let record of history">
          {{record.message}} | {{record.hand}}
        </p>
      </div>
    </div>
  </div>
</div>