<div>
  <p>
    main-menu works!
  </p>
  <div>
    <h2>Paste decklist here</h2>
    <h3>Format:</h3>
    <pre>
20x Island
4x Ancestral Recall
4x Black Lotus
4x Channel
4x Fireball
4x Punishing Fire
4x Grove of the Burnwillows
4x Frantic Search
4x Mox Sapphire
    </pre>
    <div>
      <div>
        <button (click)="clearDecklist();">Clear</button>

      </div>
      <textarea [(ngModel)]="cardParser.rawCardText" (ngModelChange)="parse();" rows=15 cols=50></textarea>

    </div>

  </div>
  <div>
    <h2>Parsed list</h2>

    <ul>
      <li *ngFor="let card of cards">
        {{card}}
      </li>

    </ul>

  </div>
  <div>
    <button routerLink="/simulate">That's my deck!</button>
  </div>

</div>